
.contactButtonsContainer,.contactButtonsContainer2{
    width: 110px !important;
    position: fixed; 
    transition: all 0.3s ease;
    z-index:99;
}
.contactButtonsContainer{
  top:40%;
  right: 1.2%;
}
.contactButtonsContainer2{
    top:58% !important; 
    right:0.1%;   
}

@media screen and (max-width: 575px){
    .contactButtonsContainer,.contactButtonsContainer2{
        width: 100px !important;
    }
    .contactButtonsContainer{
        top:40%;
        right: 3%;
      }
 }
