*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease;
    
  }
  .navbar{
    position: sticky;
    top: 0;
  }
  .NavbarMobile{
       background-color:  rgb(10, 75, 179);
       position:fixed;
       bottom:0; 
       width:100%;
       z-index: 100;
  }
@media screen and (max-width: 991px) {
.customNav ul{
    display: none !important;
}
.customNav{
   background-color: #F8F9FA !important;
}
}
@media screen and (min-width: 991px) {
  .NavbarMobile{
      display: none !important;
  }
  }
  @media screen and (max-width: 450px) {
     .NavbarMobile ul li a{
         font-size: 10px;
     }
  }
.customNav-link:hover{
   color:rgb(17, 89, 206) !important;
}
